doctype html
html
    head
        title welcome to peter diary
        link(href="/style/main.css" rel="stylesheet")
        link(href="/style/index.css" rel="stylesheet")
    body
        div.box(id="index")
            .inner-content.nav


